<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- MySQL DB Credentials -->
		    <add key="mysql_db" value="Server=;Database=ComputerReport;Uid=;Pwd="/>
        <!-- Public IP Address/HostName of MySQL Database-->
        <add key="public_sql" value="Server=;Database=;Uid=;Pwd=" />
        <!-- The WebSite used to get the Public IP Address of the Computer -->
        <add key="public_ip_url" value="http://www.whatismyip.org"/>
    </appSettings>
</configuration>
